.menu {
    display: grid;
}

.container, .hidden {
    overflow: hidden;
    transition: width .2s ease-out;
}

.container {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: overlay;
    width: 240px;

    &::-webkit-scrollbar {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, transparent 1px, __COLOR_PRIMARY_DARK 1px);

        &:hover {
            background: linear-gradient(to right, transparent 1px, darken(__COLOR_PRIMARY_DARK, 10%) 1px);
        }
    }
}

.hidden {
    width: 0;
}

.section {
    padding: 12px 0;

    .divider {
        font-size: 16px;
        opacity: .7;
        padding-left: 12px;
        text-transform: uppercase;
    }
}
