.container {
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    overflow: hidden;
    padding: 5px 20px;
    transition:
        background .1s ease-out,
        color .1s ease-out;
    white-space: nowrap;

    .icon {
        align-items: center;
        display: flex;
        min-width: 26px;
    }
}

.inactive {
    @extend .container;

    &:hover {
        background: __COLOR_SECONDARY_LIGHT;
        color: __COLOR_SECONDARY_TEXT;
    }
}

.active {
    @extend .container;

    background: __COLOR_SECONDARY_BASE;
    color: __COLOR_SECONDARY_TEXT;
}
