.controlsbar {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 4px 48px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-items: stretch;
}

.currenttitle, .currentartist {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    overflow: hidden;
}

.buttons {
    align-items: stretch;
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
}
