.tracklist {
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.tracks {
    .coloredTrack {
        &:nth-child(odd) {
            background: none;
        }
        &:nth-child(even) {
            background: rgba(0, 0, 0, 0.06);
        }
    }
}
