.volumecontrol {
    display: grid;

    .hovercolor {
        align-content: center;
        border-radius: 100%;
        display: grid;
        height: 32px;
        justify-content: center;
        transition: background .1s ease-out;
        width: 32px;
    }

    &:hover .hovercolor {
        background: __COLOR_PRIMARY_BASE;
    }

    &:active .hovercolor {
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: animatebubble;
        animation-timing-function: ease-in-out;
        background: __COLOR_PRIMARY_BASE;
    }
}

@keyframes animatebubble {
    0% { box-shadow: inset 0px 0px 0px 15px __COLOR_PRIMARY_DARK; }
    20% { box-shadow: inset 0px 10px 0px 30px __COLOR_PRIMARY_DARK; }
    40% { box-shadow: inset 10px 0px 0px 15px __COLOR_PRIMARY_DARK; }
    60% { box-shadow: inset 0px -10px 0px 30px __COLOR_PRIMARY_DARK; }
    80% { box-shadow: inset -10px 0px 0px 15px __COLOR_PRIMARY_DARK; }
    100% { box-shadow: inset 0px 0px 0px 30px __COLOR_PRIMARY_DARK; }
}
