.skipbutton {
    display: grid;

    .hovercolor {
        align-content: center;
        border-radius: 100%;
        display: grid;
        height: 36px;
        justify-content: center;
        transition: background .1s ease-out;
        width: 36px;
    }

    &:hover .hovercolor {
        background: __COLOR_PRIMARY_BASE;
    }
}
