.searchpaths {
    .title {
        opacity: .7;
        text-transform: uppercase;
    }

    .header {
        align-items: center;
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 1fr auto;
        padding: 8px;
    }

    .pathitem {
        @extend .header;

        border-top: 1px solid rgba(0, 0, 0, 0.1);
        word-break: break-all;
    }
}
