.skipbutton {
    display: grid;

    .disabled {
        align-content: center;
        border-radius: 100%;
        display: grid;
        height: 36px;
        justify-content: center;
        opacity: .3;
        transition:
            background .1s ease-out,
            opacity .2s ease-out;
        width: 36px;
    }

    .hovercolor {
        @extend .disabled;

        opacity: 1;
    }

    &:hover .hovercolor {
        background: __COLOR_PRIMARY_BASE;
    }
}
